extends layout

block content
	header#header
		.container
			h1 Learn more about LoyCode...
	section
		.row
			.col-xs-12.col-sm-8.col-md-6.col-lg-8.sec
				p
					| LoyCode is a simple website designed using bootstrap on the frontend and Node.js on the backend. The main idea is to help young talents across all platforms own a simple webiste where they can display their skills, products or services.
					| The website uses Nodemailer to enable potential client send mails of feedbacks, request and reviews to the service provider.
				p
					| LoyCode is developed by Victor O Awotidebe, the main rational behind the creation is to own simple website that displays simple profile which introduces author to the world with a smiple about page like this. LoyCode also allows you to display your works using bootstrap carousels, this allows your clients to have view and taste of your service. This is displayed on the service section along with the services you provide. LoyCode also includes a contact page where your social media pages are displayed to potential clients so they can interact with you more. Also there is a form section on the contact page which allows clients send message to you and you can respond to them via a mail.
				p
					| Loycode website display the services offered on the platform. These services include web development, software developmet (moblie and desktop applications), consultations, team development, services integration and implementation and lots more. Even though LoyCode is still largely in the developmental state, the prsent features is enough to give a business a professional look and also help reach more clients through the website. If you are interested in giving your business a professional look and wants client to reach out via your website, you can send a request using contact form on our contact page.					
			.col-xs-12.col-sm-4.col-md-6.col-lg-4.sec.qut
				img#abtimg.img-responsive.img-rounded.img-thumbnail(src='/images/me.jpg')
				p
					| My name is Victor O. Awotidebe, I&apos;m an aspiring Tech Leader from Nigeria. I developed LoyCode using Node.js on the backend and bootstrap on the frontend. I also have lots of project coming underway. You can check out my 
					a(href='https://www.github.com/debelistic') GitHub
					|  page which includes my previous projects as well as my a few resourceful tools for youmg developers