extends layout

block content
	header#header
		.container
			h1 Welcome to LoyCode
	section
		.row
			.col-xs-12.col-sm-8.col-md-6.col-lg-8.sec
				img(src='/images/showcase.jpg')
			.col-xs-12.col-sm-4.col-md-6.col-lg-4.sec.qut
				#myquotes.carousel.slide(data-ride='carousel')
					.carousel-inner
						.item.active
							h2 LoyCode Services
							p
								strong Programming
								|   service ranges from website creation for mobile and desktop users to blog creation as well development of mobile and desktop applications for genreal and specific purposes...
						.item
							h2 LoyCode Services
							p
								strong Team Development
								|   Are you putting together a team of developers to work on project or your business needs a team of developer using professional standard and ethics to develop software, then you have come to the right place?
						.item
							h2 LoyCode Services
							p
								strong Conslutations
								|   At LoyCode we offer consultation services for clients. Would you like to know how the introduction of a certian service would affect your business or do you need new tech ideas to help improve sales and give your business a global outlook?