extends layout

block content
	header#header
		.container
			h1 Our Services include...
	section
		.row
			.col-xs-12.col-sm-4.col-md-6.col-lg-4.sec.qut
				#myquotes.carousel.slide(data-ride='carousel')
					.carousel-inner
						.item.active
							img(src='/images/pexte.jpg')
							.carousel-caption
								h2 Need a Developer							
						.item
							img(src='/images/pexve.jpeg')
							.carousel-caption
								h2 Need a Team of Developers
						.item
							img(src='/images/pexce.jpg')
							.carousel-caption
								h2 Consult for Web Services
			.col-xs-12.col-sm-8.col-md-6.col-lg-8.sec
				h2 Programming
				p
					| Our Programming service ranges from website creation for mobile and desktop users to blog creation as well development of mobile and desktop applications for genreal and specific purposes.
					| Does your business or services need a platfrom through which its services and products can be displayed and customers an reach out. Then you should contact us via the contact form on our contact page
				h2 Team Development
				p
					| Are you putting together a team of developers to work on project or your business needs a team of developer using professional standard and ethics to develop software, then you have come to the right place? At LoyCode we provide you with highly professional programmer from various fields who are use their skills to help solve problems via programming and also offer innovative ideas to solve problems as well as improve the previous means. You should contact us via the contact form on our contact page
				h2 Conslutations
				p
					| At LoyCode we offer consultation services for clients. Would you like to know how the introduction of a certian service would affect your business or do you need new tech ideas to help improve sales and give your business a global outlook? Then LoyCode is right for you. You should contact us via the contact form on our contact page